<div id="horizontal-wrapper">
  <section class="panel" id="produkte">
    <h2>Produkte</h2>
  </section>
  <section class="panel" id="konfigurator">
    <h2>Konfigurator</h2>
  </section>
  <section class="panel" id="warenkorb">
    <h2>Warenkorb</h2>
  </section>
  <section class="panel" id="mehr">
    <h2>Mehr</h2>
  </section>
</div>

